<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Contributor</title>
</head>

<body>
    <div class="container" id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="container-fluid">
                <img src="qna (2).png">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" style="display: none; font-weight: bold;" id="adminDirect"
                            aria-current="page" href="user.html">User</a>
                        <a class="nav-link active" style="display: none; font-weight: bold;" id="adminDirect2"
                            aria-current="page" href="admin.html">Admin</a>
                        <a class="nav-link active" style="font-weight: bold; white-space: nowrap;" v-on:click="logout"
                            href="index.html">Sign
                            out</a>
                    </div>
                </div>
            </div>
            <form class="d-flex" style="font-weight: bold;">
                Filter
                <select id="anythingSearch" style="margin-right: 2rem; margin-left:6px;">
                    <option value="">All categorys</option>
                    <option>Music</option>
                    <option>Games</option>
                    <option>Food</option>
                    <option>Training</option>
                    <option>Other</option>
                </select>
            </form>

        </nav>
        <div class="row justify-content-center" id="searchCard">
            <div style="font-weight: 500;">
                <div class="card" style="margin: 2rem;" v-for="question in questions" v-bind:key="question.id">
                    <div class="card-body">
                        <p style="font-weight: bold;" class="card-text">Author: {{ question.author }}</p>
                        <h5 class="card-title">Title: {{ question.title }}</h5>
                        <div style="float: right;">
                            <input type="radio" id="one" value="1" v-model="question.duplicate">
                            <label for="one">Duplicate</label>
                            <br>
                            <input type="radio" id="two" value="0" v-model="question.duplicate">
                            <label for="two">Orignal</label>
                            <br>
                            <button type="button" class="btn btn-danger float-right"
                                v-on:click="updateDuplicate(question.id, question.title, question.category, question.questionText, question.duplicate)">Mark
                                as duplicate</button>
                        </div>
                        <p class="card-title">Category: {{ question.category }}</p>
                        <p style="font-size: normal;" class="card-text">{{ question.questionText }}</p>
                        <small style="font-size: .875em; font-weight: normal;" class="card-text">Posted: {{
                            question.date }}</small>

                        <ul >

                            <li v-for="a in answers"
                            v-if="a.questId == question.id" style="border: 1px solid black; padding: 0.5rem; margin: 0.5rem;">
                                <p style="color: blue; font-weight: bold; float: right;" v-if="a.rating == -1">-1</p>
                                <p style="color: red; font-weight: bold; float: right;" v-if="a.rating == 1">+1</p>
                                <p style="font-weight: normal; float: right;" v-if="a.rating === null">no rating yet</p>
                                <p>User {{ a.author }} says:</p>
                                <p style="margin: 0; ">{{ a.answerText }}</p>
                                <small style="font-size: .875em; font-weight: normal;">Posted: {{ a.date }}</small>

                                <button type="button" v-if="a.author == thisUser" id="editBtn" class="btn btn border" data-toggle="modal"
                                    data-target="#updateModal" v-on:click="showAnswer(a.id)">Edit answer</button>

                            </li>
                        </ul>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#addModal"
                            v-on:click="showQuestionInUpdateForm(question.id)">Add answer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">add answer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formUpdate">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="addId" id="addId" readonly>
                            </div>
                            <div class="form-group">
                                <label for="questionText">Answer</label>
                                <textarea class="form-control" id="addQuestionText" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="button" class="btn btn-primary float-right" value="Save changes"
                                    v-on:click="answerQuestion">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="updateModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formAdd">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="updateId" id="updateId" readonly>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="updateQuestId" id="updateQuestId"
                                    readonly>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="updateRating" id="updateRating"
                                    readonly>
                            </div>
                            <div class="form-group">
                                <label for="Answer">Answer</label>
                                <textarea class="form-control" id="updateAnswerText" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="button" class="btn btn-primary float-right" value="Save changes"
                                    v-on:click="updateAnswer">
                                <button type="button" class="btn btn-danger float-right"
                                    v-on:click="deleteAnswer">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>

        const vm = new Vue({
            el: "#app",
            data: {
                questions: [],
                answers: [],
                thisUser: window.sessionStorage.getItem('Username')
            },
            methods: {
                checkAccountType() {
                    if (window.sessionStorage.getItem('accountType') == 2) {
                        document.getElementById('adminDirect').style.display = "block";
                        document.getElementById('adminDirect2').style.display = "block";
                    }
                },
                showQuestionInUpdateForm(id) {
                    $.ajax({
                        url: '/api/question/' + id,
                        type: 'GET',
                        success: (question) => {
                            $('#addId').val(question.id);
                        }
                    });
                    $('#addModal').modal('show');
                },
                showAnswer(id) {
                    $.ajax({
                        url: '/api/answerId/' + id,
                        type: 'GET',
                        success: (answer) => {
                            $('#updateId').val(answer.id);
                            $('#updateQuestId').val(answer.questId);
                            $('#updateAnswerText').val(answer.answerText);
                            $('#updateRating').val(answer.rating);



                        }
                    });
                    $('#updateModal').modal('show');
                },
                updateAnswer() {
                    var answer = {
                        answerText: $('#updateModal #updateAnswerText').val(),
                        questId: $('#updateModal #updateQuestId').val(),
                        id: $('#updateModal #updateId').val(),
                        rating: $('#updateModal #updateRating').val()
                    }
                    $.ajax({
                        url: '/api/answer',
                        type: 'PUT',
                        data: answer,
                        success: () => {
                            var self = this;
                            $.getJSON("/api/questions", function (jsondata) {
                                self.questions = jsondata;
                            });
                            $.getJSON("/api/answers", function (jsondata) {
                                self.answers = jsondata;
                            });

                        },
                    });
                    $('#updateModal').modal('hide');
                },
                deleteAnswer() {
                    var answer = {
                        id: $('#updateModal #updateId').val()
                    }
                    $.ajax({
                        url: '/api/answer/' + answer.id,
                        type: 'DELETE',
                        success: () => {
                            var self = this;
                            $.getJSON("/api/answers", function (jsondata) {
                                self.answer = jsondata;
                            });
                            $.getJSON("/api/answers", function (jsondata) {
                                self.answers = jsondata;
                            });
                        }
                    });
                    $('#updateModal').modal('hide');
                },
                answerQuestion() {
                    var answer = {
                        answerText: $('#addModal #addQuestionText').val(),
                        questId: $('#addModal #addId').val(),
                        author: window.sessionStorage.getItem('Username')
                    }
                    $.ajax({
                        url: '/api/answer',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(answer),
                        success: () => {
                            var self = this;
                            $.getJSON("/api/questions", function (jsondata) {
                                self.questions = jsondata;
                            });
                            $.getJSON("/api/answers", function (jsondata) {
                                self.answers = jsondata;
                            });
                        }
                    });
                    $('#addModal').modal('hide');

                },
                updateDuplicate(Id, Title, Category, QuestionText, Duplicate) {
                    var question = {
                        title: Title,
                        category: Category,
                        questionText: QuestionText,
                        duplicate: Duplicate,
                        id: Id
                    }
                    $.ajax({
                        url: '/api/question',
                        type: 'PUT',
                        data: question,
                        success: () => {
                            var self = this;
                            $.getJSON("/api/questions", function (jsondata) {
                                self.questions = jsondata;
                            });

                        },
                    });
                    $('#updateModal').modal('hide');
                },
                logout() {
                    window.sessionStorage.removeItem('Username')
                    window.sessionStorage.removeItem('accountType')
                },
            },
            mounted() {
                var self = this;
                $.getJSON("/api/questions", function (jsondata) {
                    console.log(JSON.stringify(jsondata))
                    self.questions = jsondata;
                });
                var hej = this;
                $.getJSON("/api/answers", function (jsondata) {
                    hej.answers = jsondata;
                });

            },

        });
        $(document).ready(function () {
            $("#anythingSearch").on("change", function () {
                var value = $(this).val().toLowerCase();
                $(".card").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        $(document).ready(function () {
            vm.checkAccountType()
        });
    </script>
</body>

</html>